{% extends 'base.html' %}

{% block body %}

    {% if user %}

        {% if 'village_id' in user %}
            <div class="card container my-5">
            <div class="card-header">
                <h3>Village Details</h3></div>
                <div class="card-body">
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Village Name</td>
                    <td>{{village.village_name}}</td>
                  </tr>
                  <tr>
                    <td>District</td>
                    <td>{{village.district}}</td>
                  </tr>
                  <tr>
                    <td>state</td>
                    <td>{{village.state}}</td>
                  </tr>
                  <!-- <tr>
                    <td>pincode</td>
                    <td>{{village.pincode}}</td>
                  </tr>
                  <tr>
                    <td>email of sarpanch</td>
                    <td>{{village.head_email}}</td>
                  </tr> -->
                  <tr>
                    <td>People using this application in the village</td>
                    <td>{{village.population}}</td>
                  </tr>
                </tbody>
              </table>
            
            </div>
            <div class="card-footer d-flex justify-content-center mb-3">
                <a href="/leave_village"><button class="btn btn-outline-dark">Leave Village</button></a>
            </div>
          </div>
        {% else %}
        <div class="card container my-3">
          <div class="card-body text-center">
            <h3>You are not member of any village. Kindly add your village</h3>
            <form action= "{{ url_for('add_village') }}" method="POST">
                <input class="form-control" list="villages" id="village" name="village" placeholder="Start typing your village name...">
                    <datalist id="villages">
                        {% for vil in allVillages %}
                        {{vil.village_name}}
                            <option value="{{vil.village_name}}">{{vil.village_name}}, {{vil.district}}, {{vil.state}}</option>
                        {% endfor %}
                    </datalist>
                <button type="submit" class="btn btn-outline-dark my-3">Add Village</button>
              </form>
              <span>If you didn't find complete village name, district, state in that list...  <a href="/admin">click here !!</a></span>
            </div>
        </div>
        {% endif %}
    

    {% endif %}

{% endblock body %}
