{% extends 'base0.html' %}

{% block body %}

<div class="container my-3">
    <form action="/login" method="POST">
        <div class="mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-outline-dark">Login</button>
      </form>
      <div class="my-3">
        <span>don't have account? <a href="/register">sign up here</a></span>
      </div>
</div>
{% if us %}
  {{us}}
{% endif %}


{% endblock body %}