{% extends 'base.html' %}

{% block body %}
    
    {% if userdetails %}
    <div class="container my-5">
        <h3>Your Details</h3>
    <table class="table table-striped">
        <tbody>
          <tr>
            <td>First Name</td>
            <td>{{userdetails.firstName}}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{userdetails.lastName}}</td>
          </tr>
          <tr>
            <td>Email Id</td>
            <td>{{userdetails.email}}</td>
          </tr>
          <tr>
            <td>Mobile Number</td>
            <td>{{userdetails.mobile}}</td>
          </tr>
          <tr>
            <td>Id Proof</td>
            <td><a href="{{userdetails.id_proof}}" target="_blank">Open id proof</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <a href="/update_password"><button class="btn btn-dark btn-sm mx-1">Update Password</button></a>
        <a href="/update_details"><button class="btn btn-dark btn-sm mx-1">Update Details</button></a>
    </div>
    {% else %}
        <h3>No details found !!</h3>
    {% endif %}    

{% endblock body %}