{% extends 'base.html' %}

{% block body %}
    
    <h3>Upadate Password</h3>
    <div class="container d-flex justify-content-center my-3">
        
        <form action="/update_password" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password" required>
              </div>
              <div class="mb-3">
                  <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" required>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="conf_password" name="conf_password" placeholder="Confirm Password" required>
            </div>
            {% if wrong %}
                <div class="d-flex justify-content-center">
                    <i style="color: red;">old password is not correct!!</i>
                </div>
            {% endif %}
            {% if mismatch %}
                <div class="d-flex justify-content-center">
                    <i style="color: red;">new password and confirm password are not same!!</i>
                </div>
            {% endif %}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Update Password</button>
            </div>
            <div class="d-flex justify-content-center">
                <i>(You'll have login again once you update your password.)</i>
            </div>
          </form>
          
    </div>

{% endblock body %}
