{% extends 'base.html' %}

{% block body %}
    
    {% if villagers %}
        <div class="card container my-5">
            <div class="card-body">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Sr.No.</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Contact No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for villager in villagers %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{villager.firstName}} {{villager.lastName}}</td>
                            <td>{{villager.mobile}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    {% else %}
    <div class="card container my-3">
        <div class="card-body text-center">
          <h3>You are not member of any village. Kindly add your village</h3>
          <form action= "{{ url_for('add_village') }}" method="POST">
              <input class="form-control" list="villages" id="village" name="village" placeholder="Start typing your village name...">
                  <datalist id="villages">
                      {% for vil in allVillages %}
                      {{vil.village_name}}
                          <option value="{{vil.village_name}}">{{vil.village_name}}</option>
                      {% endfor %}
                  </datalist>
              <button type="submit" class="btn btn-outline-dark my-3">Add Village</button>
            </form>
            <span>couldn't find village in that list ?? <a href="/admin">click here !!</a></span>
          </div>
      </div>
    {% endif %}

{% endblock body %}